<!--
  ~ This file is part of LoLin1.
  ~
  ~ LoLin1 is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ LoLin1 is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with LoLin1. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Created by Jorge Antonio Diaz-Benito Soriano on 07/11/2014.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.jorge.lolin1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".LoLin1Application"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="86e97245af3721940bc1f7a5fff3927950c2ac7c"/>

        <activity
            android:name=".ui.activity.InitialActivity"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleInstance"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ArticleReaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>

        <service
            android:name=".service.NewsFeedHarvestService"
            android:exported="false"/>

        <service
            android:name=".service.CommunityFeedHarvestService"
            android:exported="false"/>

        <service
            android:name=".service.SchoolFeedHarvestService"
            android:exported="false"/>

        <receiver
            android:name=".receiver.FeedScheduleBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.jorge.lolin1.feed_harvest_schedule_filter"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
